:root {
  --weather-widget-tab--border-radius: 10px;
  --chart-animation-duration: .2s;
}

* {
  box-sizing: border-box;
}

body {
  background-position: center;
  background-size: cover;
  /* background-image is set from JS */
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}