.weather-widget {
  margin-top: auto;
}

.weather-widget-tabs {
  display: flex;
  width: min-content;
  background-color: #ccc;
  border-radius: var(--weather-widget-tab--border-radius);
  margin: 10px 10px;
}

.weather-widget-tab {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #333;
  width: 80px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
}

.weather-widget-tab:first-child {
  border-top-left-radius: var(--weather-widget-tab--border-radius);
  border-bottom-left-radius: var(--weather-widget-tab--border-radius);
}

.weather-widget-tab:last-child {
  border-top-right-radius: var(--weather-widget-tab--border-radius);
  border-bottom-right-radius: var(--weather-widget-tab--border-radius);
}

.weather-widget-tab.active {
  background-color: rgba(0, 0, 0, .2);
}

.weather-chart {
  width: 650px;
  height: 120px;

  width: 100%;
  height: 150px;
  position: relative;
  /* background: linear-gradient(transparent -50%, #333333 50%); */
}

.weather-chart:after {
  content: '';
  position: absolute;
    top: -50%;
    left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
  background: linear-gradient(transparent, #111111FF);
}

.ct-label {
  color: #ccc;
  font-weight: bold;
  font-size: 20px;
  justify-content: center !important;
  text-shadow:
    2px 0 0 black, 
    -2px 0 0 black,
    0 2px 0 black, 
    0 -2px 0 black,
    1px 1px black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
  transition: opacity var(--chart-animation-duration);
  opacity: .1;
}

.weather-widget:hover .ct-label {
  opacity: 1;
}

.weather-chart[data-chart-mode=weather-chart-temperatures] .ct-line { stroke: #FFCC00FF; }
.weather-chart[data-chart-mode=weather-chart-temperatures] .ct-area { fill: #FFCC0020; fill-opacity: 1; }

.weather-chart[data-chart-mode=weather-chart-rains] .ct-line { stroke: #8AB4F8FF; }
.weather-chart[data-chart-mode=weather-chart-rains] .ct-area { fill: #8AB4F820; fill-opacity: 1; }

/* TODO .weather-chart.weather-chart-winds */

.weather-widget-tab-icon {
  pointer-events: none;
}