.searchbar {
  border: solid #ccc 3px;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(15px);
  box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, .5);
  padding: 15px 30px;
  border-radius: 999px;
  width: 500px;
  color: #ccc;
  font-weight: bold;

  outline: none !important;
}